*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}


section{
      
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(44, 44, 44);
    height: 100vh;
}

.register{
    padding: 16px;
    border-radius: 16px;
    background-color: rgb(36, 36, 36);
}
form{
    display: flex;
    flex-direction: column;
    
    gap: 8px;
    
}

input{
    height: 50px;
    width: 260px;
    outline: none;
    border-radius: 12px;
    border: 0px solid black;
    padding: 0 16px;
}


button{
     height: 50px;
    width: 260px;
    outline: none;
    border-radius: 12px;
    border: 0px solid black;
}


a{
    display: block;
    margin-top: 12px;
    color: white;
    font-size: 12px;
}

