*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    width: full;
    height: 100vh;
}

.lettersSection{
    display: flex;
  
    width: 100%;
    min-height: 60%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(93, 93, 93);
    padding: 24px;
     
}

.letters{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    gap: 8px;
   justify-content: center;
    flex-wrap: wrap;
}


.row{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.letter{
    display: flex;
   flex-direction: row;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    
    background-color: blue;
    border-radius: 16px;
    align-items: center;
    justify-content: center;

}


.inputDiv{
   
    background-color: rgb(37, 37, 37);
    width: 100%;
    flex: 1;
    display: flex;
        gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input{
    padding: 20px;
    font-size: 30px;
    border-radius: 16px;
    outline: none;
    border: none;
}

h1{
    color: rgb(255, 255, 255);
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(28, 28, 28);
}

.startDiv{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(53, 53, 53);
    justify-content: center;
    align-items: center;
}

.startBtn{
    height: 50px;
    width: 200px;
}

p{
    color: red;
}