*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
}

section{
    display: flex;
    flex-direction: column;
    width: full;
    height: 100vh;
   
}

.lettersSection{
    display: flex;
  
    width: 100%;
    min-height: 60%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 0 24px;
     
}

.letters{
    display: flex;
    flex-direction: column;
    width: 100%;
   
    gap: 8px;
   justify-content: center;
    flex-wrap: wrap;
}


.row{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.letter{
    display: flex;
   flex-direction: row;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    
    background-color: blue;
    border-radius: 16px;
    align-items: center;
    justify-content: center;

}


.inputDiv{
   
    background-color: rgb(44, 44, 44);
    width: 100%;
    flex: 1;
    display: flex;
        gap: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input{
    background-color: transparent;
    color: white;
    height: 50px;
    font-size: 30px;
    border-radius: 16px;
    outline: none;
    border: none;
    
}

.ok{
    background-color: transparent;
    color: rgb(201, 201, 201);
    height: 56px;
    width: 56px;
    border-radius: 16px;
    font-size: 24px;
    border-bottom: 0px solid black;
    cursor: pointer;
    transition: 0.1s;
}


.ok:hover{
    transition: 0.1s;
    opacity: 0.5;
}

.inputBorder{
    border-bottom: 1px solid rgb(84, 84, 84);
}

h1{
    color: rgb(255, 255, 255);
    height: 60px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(28, 28, 28);
}

.startDiv{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(40, 40, 40);
    justify-content: center;
    align-items: center;
}

.startBtn{
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    border: 0px solid rgb(134, 134, 134);
}

p{
    color: red;
}



header{
    display: flex;
    background-color: rgb(44, 44, 44);
    height: 62px;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
  
}

.scoreDiv{
    font-size: 16px;
    display: flex;
   
     color: rgb(255, 255, 255);
}

.score{
   color: rgb(201, 201, 201);
    margin-right: 4px;
}

.line{
    color: rgb(192, 192, 192);
}


.btnDiv{
    background-color: rgb(25, 25, 25);
    border-radius: 12px;
    padding: 12px 24px;
}

.loginText{
    color: white;
 
    text-decoration: none;
}


.logoutDiv{
    display: flex;
}


.leaderHref{
    color: rgb(201, 201, 201);
  
  text-decoration: none;
  transition: 0.1s;
}

.leaderHref:hover{
    opacity: 0.5;
  transition: 0.1s;
}


.logoutText{
    color: rgb(201, 201, 201);
  
  text-decoration: none;
  transition: 0.1s;
}

.logoutText:hover{
    opacity: 0.5;
  transition: 0.1s;
}